
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

#app {
    position: relative;
}

#render {
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    background: #111;
    border: 1px solid #666;
    color: #666;
    min-width: 240px;
}